@font-face {
  font-family: Source Sans Pro;
  font-weight: 200;
  font-style: normal;
  font-stretch:normal;
  src: url(../fonts/5b67cb4683f7f74d724ab5a61b32df1a.woff2) format("woff2"),
       url(../fonts/cf9154d4995988e68ae92e797abbca0f.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight:200;
  font-style:italic;
  font-stretch:normal;
  src: url(../fonts/2a466eb9aada9ed3fd093fd1230f237f.woff2) format("woff2"),
       url(../fonts/07c25f903809ba6d13d7bf0142b6f4a3.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url(../fonts/(08261b1de3ef3f28b1c80d93ae6cf71c.woff2) format("woff2"),
       url(../fonts/3babbd45fa95cf5e8711ace1f73ad62f.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url(../fonts/ecf7c3e2d7f28ed2775d545f34ad4d77.woff2) format("woff2"),
       url(../fonts/8f2a8c7d648838fa7d20a645a36b19b9.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url(../fonts/cda8ce29e0e4cd23f54267d0e946054e.woff2) format("woff2"),
       url(../fonts/eef7990b30b8ede9d6a47521702ea372.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url(../fonts/20b1ae40148c460a4d535f73dad96f19.woff2) format("woff2"),
       url(../fonts/220493e882b636263be644701669ed72.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url(../fonts/d39d87d219228e25d4b27afd709dcaff.woff2) format("woff2"),
       url(../fonts/62a99622d8ff71398d925a147a242592.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url(../fonts/a0cd88770f3909d127a48cb7f524a31f.woff2) format("woff2"),
       url(../fonts/40bea382360a87ef863c00129365b0f0.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url(../fonts/ac93c75f139d8d6cf03fd24ddcc996ce.woff2) format("woff2"),
       url(../fonts/939d9f66e993332d8def74508fe62a33.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url(../fonts/95c18d0c5d7de17f738c4088cc78567d.woff2) format("woff2"),
       url(../fonts/14945495d799f18ecd90cac388cb1798.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url(../fonts/9ec4fbe269120e09b416b78f56589171.woff2) format("woff2"),
       url(../fonts/c599e4be9841cacd58ba76388ae7aa04.woff)  format("woff")
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url(../fonts/412b95adf0b626de9254a93a07c901a6.woff2) format("woff2"),
       url(../fonts/847a12405259b7acb92c3c333feb5945.woff)  format("woff")
}

a.irs-button-primary {
  text-decoration: none;  
}

a.irs-button-primary:hover {
  color: white;  
}

a.irs-button-secondary {
  text-decoration: none;  
}

a.irs-button-primary > span:active {
  transform: translate(1px,1px);
}

a.irs-button-primary:active > span {
  transform: translate(1px,1px);
}

a.irs-button-secondary > span:active {
  transform: translate(1px,1px);
}

a.irs-button-secondary:active > span {
  transform: translate(1px,1px);
}

body {
  background-color: #F1F1F1;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 12px;
}

hr {
  color: #B1B1B1;
}

.irs-button-primary {
  background-color: #0071B3;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.irs-button-primary:active {
  background-color: #013F66;
}

.irs-button-primary:disabled {
   background-color:gray;
}

.irs-button-primary:hover {
  background-color: #00588B;
}

.irs-button-secondary {
  background-color: white;
  border: solid 1px #0071B3;
  border-radius: 3px;
  color: #0071B3;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.irs-button-secondary:hover {
  border-color: #00588B;
  color: #00588B;
}

.irs-button-secondary:active {
  border-color: #013F66;
  color: #013F66;
}

.irs-disclaimer-footnote {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.irs-link-external {
  color: #0071B3;
}

.irs-link-external:visited {
  color: #55379E;
}

.irs-subhead-1 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 12px;
  margin-top: 24px;
}

.irs-subhead-2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.irs-title-1 {
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 24px;
  margin-top: 0;
}

.irs-title-2 {
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 20px;
  margin-top: 0;
}

.irs-top-banner {
  background-color: #013F66;
  color: white;
}

