#topContent {
  padding: 0em 0em .5em 0em;
  margin: 0px;
  width: 100%;
}

.icce .card-deck .card {
    margin-right: 0;
    margin-left: 0;
}

.icce .card {
	margin-bottom: 2rem;
}

.icce .card .control-label {
	margin-bottom: 0;
}

.icce .card .card-body {
	padding: 1rem;
	margin-bottom: 1rem;
}

.icce .card .card-primary {
	border-color: #D6D7D9;
}

.icce .card .card-header {
	background-color: #D6D7D9;
	color: black;
	margin-bottom: 1rem;
}

.icce .card .card-block {
	margin-left: 1rem;
}

.icce .bankInfo {
	margin-bottom: .2rem;
}

.collapsibleButton {
  display: flex;
  background: transparent;
  position: relative;
  padding-left: 0px;
  width: 99%;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.collapsibleButton::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background: transparent url(../images/help-tip-close.svg) no-repeat 50% 2px;
}

.collapsibleButton.collapsed::after {
  content: '';
  background: transparent url(../images/help-tip.svg) no-repeat 50% 2px;
}

.divTransferRow {
 padding: 10px;
}

.irs-button-primary:disabled {
   background-color:gray;
}

.irs-button-primary {
padding: 10px 15px;
}

.result-field {
  text-indent: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.wmsp-error-code {
 
  margin: 4rem 0 0 0;
  text-align: center;
}

.icce .alert-info {
    background-color: #fff4dd;
}

.icce .alert-icon-info {
    color: #fdb81e;
}