.icce .notice-button {
    background: #0073AF; 
    outline: 1px solid transparent;   
}

.icce .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0073AF;
    border-color: #0073AF;
    outline: 1px dotted;
}

.icce .btn:focus .btn:active .btn.active .btn.focus {
    outline: 1px dotted;
  	box-shadow: 0 0 1px 1px #0a0;
}

.icce .btn:focus-visible .btn.focus-visible {
    outline: 1px dotted;
  	box-shadow: 0 0 1px 1px #0a0;
}

.icce :focus {
    /* for chrome - default focus */
    outline: -webkit-focus-ring-color auto 5px;
    /* for firefox - default focus */
    border: 1px dotted;
}

.icce main a {
color: #0073AF;
	text-decoration: underline;
} 

.icce .navbar-nav a {
	text-decoration: underline;
} 

.check-image {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.collapsibleButtonIcon {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background: transparent url(../images/help-tip-close.svg) no-repeat 50% 2px;
  border: none;
}

.collapsibleButtonIcon.collapsed {
  content: '';
   background: transparent url(../images/help-tip.svg) no-repeat 50% 2px;
}

.divHelpTipCollapsible .h4, h4 {
	font-size: 18px;
	font-weight: bold;	
}

.login-disabled {
 
  color: gray; 
}

.login-dob {
 
  display: flex;
  flex-wrap: nowrap;
}

.login-dob > input {
 
  margin-right: 0.5rem;
}

.login-errors {
 
  color: #CD2026;
}

.login-errors > ul > li > a {
 
  color: #CD2026;
}

.login-errors-message {
 
  font-weight: 700;
}

.help-block{color: #CD2026} 

.login-instructions {
  
  font-weight: 700;
}

.login-privacy {
  
  text-align: center;
}

.login-title {
 
  text-align: left;
  font-weight: 700;
  margin-bottom: 1em;
}

.login-submit-button {
    background: #0073AF;
    color: #ffffff;    
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;    
    line-height:20px;
    margin-top: 1rem;
    min-width:160px; 
  	outline: 1px solid transparent; 
}

.login-submit-button:focus-visible .login-submit-button.focus-visible {
    outline: 1px dotted;
  	box-shadow: 0 0 1px 1px #0a0;
}

.login-submit-button:focus .login-submit-button.focus {
    outline: 1px dotted;
  	box-shadow: 0 0 1px 1px #0a0;
}

.login-submit-button:disabled {
   background-color:gray;
}

.login-submit-buttonsecondary {
    background: #ffffff;
    color: #0073AF;  
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;    
    line-height:20px;    
    min-width:80px;
    border:1px solid #0099cc;
    margin-right: 1rem;  
    outline: 1px solid transparent;
}

.login-submit-buttonsecondary:disabled {
   background-color:gray;
}

.login-return-button,
.login-return-message,
.login-submit-button,
.login-submit-message {
 
  margin-bottom: 1rem;
}

.ui-datepicker-trigger {
 
  background: none;
  border: none;
  padding: 0;
}

.ui-datepicker select {
 
  color: #333;
}

.ui-widget-header {
 
  background: #0071B3;
  border: 1px solid #0071B3;
}
